" set leader key
nnoremap <SPACE> <Nop>
let mapleader = "<SPACE>"

" search
" set hlsearch
set nohlsearch
set incsearch
set smartcase
set ignorecase
set so=5

" plugins
set easymotion
set surround


" basic key mapping
nnoremap L $
nnoremap H ^
vnoremap L $
vnoremap H ^
nnoremap ; :

" clear the highlighted search result
nnoremap <Leader>sc :nohlsearch<CR>

" Insert mode shortcut
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
inoremap <C-a> <Home>
inoremap <C-e> <End>
inoremap <C-d> <Delete>


" copy and paste
noremap <Leader>y "*y
noremap <Leader>p "*p
noremap <Leader>P "0p
vnoremap Y "+y


" Quit normal mode
nnoremap <Space>q  :wq!<CR>
nnoremap <Space>Q  :qa!<CR>

" edit vimrc 编辑ideavim配置文件 貌似没用
" nnoremap <Leader>ve :e ~/.ideavimrc<CR>
" nnoremap <Leader>vw :w!<CR>
" nnoremap <Leader>vs :source ~/.ideavimrc<CR>


" Tab operation
" 后退 参考emacs的 p n
nnoremap gp :action Back<CR>
" 前进
nnoremap gn :action Forward<CR>
" NextTab
" nnoremap <Leader>l :action NextTab<CR>
" PreviousTab
" nnoremap <Leader>h :action PreviousTab<CR>

" ========== actions ==========
nnoremap <Leader>a :action GotoAction<CR>

nnoremap == :action ReformatCode<CR>

vnoremap = :action ReformatCode<CR>

nnoremap <Leader>l :action ReformatCode<CR>
nnoremap <Leader>o :action OptimizeImports<CR>

" comment 单行注释
nnoremap cc :action CommentByLineComment<CR>
vnoremap cc :action CommentByLineComment<CR>

" 重命名
nnoremap R :action RenameElement<CR>
nnoremap gr :action RenameElement<CR>

" 类似原来的 ctrl + alt + b
nnoremap gi :action GotoImplementation<CR>
nnoremap gk :action GotoImplementation<CR>

" 进入父类 ctrl + u
nnoremap gu :action GotoSuperMethod<CR>

" 类的声明 也可以 clrl + 鼠标左键
nnoremap gd :action GotoDeclaration<CR>
nnoremap gl :action GotoDeclaration<CR>

" 全局查找内容
nnoremap <Leader>f :action FindInPath<CR>

" 查找类
nnoremap <Leader>n :action GotoClass<CR>

" SearchEverywhere
nnoremap <Leader>e :action SearchEverywhere<CR>

" 查找使用
nnoremap U :action FindUsages<CR>

" 调试
" nnoremap <Leader>d :action Debug<CR>

" AceJump
nnoremap <Leader>j :action AceAction<CR>